<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Minor Project</title>
</head>
<body>

    <h1 id="main-page-welcome">Welcome to Local Market Finder</h1>
    <ul>
        <li>
            <a id="login_link" href="/login">Login</a> 
        </li>
        <li>
            <a id="register_link" href="/register">Register</a>
        </li>
    </ul>
   

</body>
<footer>
    <div class="footer-content">
        <h3 style=" text-align: center;">College Name</h3>
        <h3 style=" text-align: center;">KLS Vishwanathrao Deshpande Instituite Of Techonology</h3>
    </div>
</footer>

</html>
